# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv/

# Django & Logs
db.sqlite3
*.log
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
local_settings.py
media/

# Environment
.env
.env.local
.env.*.local
*.local

# IDE & OS
.idea/
.vscode/
!.vscode/extensions.json
*.swp
*.swo
*.sw?
*.suo
*.ntvs*
*.njsproj
*.sln
.DS_Store
Thumbs.db

# Node & Frontend
node_modules/
dist/
dist-ssr/
.cache/

# Build artifacts
*.egg-info/
build/
*.egg

# Coverage
htmlcov/
.coverage
.coverage.*
